
/* Copyright (c) 2021, The Tor Project, Inc. */

@import url("chrome://global/skin/error-pages.css");
@import url("chrome://global/skin/browser-colors.css");

:root {
  --onion-opacity: 1;
  --onion-color: var(--card-outline-color);
}

html {
  width: 100%;
  height: 100%;
}

input[type="checkbox"]:focus, select:focus {
  outline:  none!important;
  box-shadow: 0 0 0 3px var(--purple-30) !important;
  border:  1px var(--purple-80) solid !important;
}

@media (prefers-color-scheme: dark) {
  input[type="checkbox"]:focus, select:focus {
    box-shadow: 0 0 0 3px var(--purple-50)!important;
  }
}

#breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0 0 24px 0;
  color: var(--grey-40);
}

#breadcrumbs.hidden {
  visibility: hidden;
}

.breadcrumb-item, .breadcrumb-separator {
  display: flex;
  margin: 0;
  margin-inline-start: 20px;
  padding: 8px;
}

.breadcrumb-item {
  align-items: center;
  cursor: pointer;
  color: var(--in-content-text-color);
  border-radius: 4px;
}

.breadcrumb-item:hover {
  color: var(--in-content-accent-color);
  background-color: var(--in-content-button-background-hover);
}

.breadcrumb-item:active {
  color: var(--in-content-accent-color-active);
  background-color: var(--in-content-button-background-active);
}

.breadcrumb-separator {
  width: 15px;
  list-style-image: url("chrome://global/content/torconnect/arrow-right.svg");
}

.breadcrumb-separator:dir(rtl) {
  scale: -1 1;
}

.breadcrumb-icon {
  display: inline list-item;
  height: 16px;
  list-style-position: inside;
  -moz-context-properties: fill, stroke;
  fill: currentColor;
  stroke: currentColor;
}

.breadcrumb-item.active {
  color: var(--in-content-accent-color);
}

.breadcrumb-item.disabled, .breadcrumb-item.disabled:hover, .breadcrumb-item.disabled:active {
  color: var(--in-content-text-color);
  opacity: 0.4;
  cursor: default;
}

.breadcrumb-item.error {
  color: var(--in-content-danger-button-background);
}

.breadcrumb-item.error:hover {
  color: var(--in-content-danger-button-background-hover);
}

.breadcrumb-item.error:active {
  color: var(--in-content-danger-button-background-active);
}

.breadcrumb-item.hidden, .breadcrumb-separator.hidden {
  display: none;
}

#connect-to-tor {
  margin-inline-start: 0;
}

#connect-to-tor-icon {
  list-style-image: url("chrome://global/content/torconnect/tor-connect.svg");
}

#connection-assist-icon {
  list-style-image: url("chrome://global/content/torconnect/tor-connect-broken.svg");
}

#location-settings-icon {
  list-style-image: url("chrome://global/content/torconnect/globe.svg");
}

#try-bridge {
  cursor: default;
}

#try-bridge-icon {
  list-style-image: url("chrome://global/content/torconnect/bridge.svg");
}

button {
  --purple-button-text-color: rgb(251,251,254);
  --in-content-primary-button-text-color: var(--purple-button-text-color);
  --in-content-primary-button-background: var(--purple-60);
  --in-content-primary-button-text-color-hover: var(--purple-button-text-color);
  --in-content-primary-button-background-hover: var(--purple-70);
  --in-content-primary-button-text-color-active: var(--purple-button-text-color);
  --in-content-primary-button-background-active: var(--purple-80);
  --in-content-focus-outline-color: var(--purple-60);
  fill: white;
}

#cancelButton {
  color: var(--in-content-button-text-color);
  border: 1px solid var(--in-content-button-border-color);
  border-radius: 4px;
  background-color: var(--in-content-button-background);
}

#locationDropdownLabel {
  margin-block: auto;
  margin-inline: 4px;
}

#locationDropdownLabel.error {
  color: var(--in-content-error-text-color)
}

#tryBridgeButton.danger-button {
  background-color: var(--purple-70);
}

#tryBridgeButton.danger-button:hover {
  background-color: var(--purple-80);
}

#tryBridgeButton.danger-button:active {
  background-color: var(--purple-90);
}

/* this follows similar css in error-pages.css for buttons */
@media only screen and (min-width: 480px) {
  form#locationDropdown {
    margin-inline: 4px;
    /* subtracting out the margin is needeed because by
       default forms have different margins than buttons */
    max-width: calc(100% - 8px);
  }
}

@media only screen and (max-width: 480px) {
  #tryAgainButton {
    margin-top: 4px;
  }
}

form#locationDropdown {
  width: 240px;
}

form#locationDropdown select {
  max-width: 100%;
  margin-inline: 0;
  font-weight: 700;
}

/* checkbox css */
input[type="checkbox"]:not(:disabled) {
  background-color: var(--grey-20)!important;
}

input[type="checkbox"]:not(:disabled):checked {
  background-color: var(--purple-60)!important;
  color: white;
  fill: white;
}

input[type="checkbox"]:not(:disabled):hover {
  /* override firefox's default blue border on hover */
  border-color: var(--purple-70);
  background-color: var(--grey-30)!important;
}

input[type="checkbox"]:not(:disabled):hover:checked {
  background-color: var(--purple-70)!important;
}

input[type="checkbox"]:not(:disabled):active {
  background-color: var(--grey-40)!important;
}

input[type="checkbox"]:not(:disabled):active:checked {
  background-color: var(--purple-80)!important;
}

:root {
  --progressbar-shadow-start: rgba(255, 255, 255, 0.7);
  --progressbar-gradient: linear-gradient(90deg, #FC00FF 0%, #00DBDE 50%, #FC00FF 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --progressbar-shadow-start: rgba(28, 27, 34, 0.7);
  }
}

#progressBar:not([hidden]) {
  position: fixed;
  inset-block-start: 0;
  inset-inline: 0;
  display: grid;
  --progress-percent: 0%;
  --progress-animation: progressAnimation 5s ease infinite;
  --progress-bar-height: 7px;
}

#progressBar > * {
  grid-area: 1 / 1;
}

#progressBarBackground {
  width: 100%;
  height: var(--progress-bar-height);
  background: var(--in-content-box-info-background);
}

#progressBackground {
  z-index: 1;
  width: var(--progress-percent);
  height: 66px;
  margin-block-start: -26px;
  background-image:
    linear-gradient(var(--progressbar-shadow-start), var(--in-content-page-background) 100%),
    var(--progressbar-gradient);
  animation: var(--progress-animation);
  filter: blur(5px);
  border-end-end-radius: 33px;
}

#progressSolid {
  z-index: 2;
  width: var(--progress-percent);
  height: var(--progress-bar-height);
  border-start-end-radius: calc(var(--progress-bar-height) / 2);
  border-end-end-radius: calc(var(--progress-bar-height) / 2);
  background-image: var(--progressbar-gradient);
  animation: var(--progress-animation);
}

#progressBackground, #progressSolid {
  background-size: 200% 100%;
}

@keyframes progressAnimation {
  0% {
    background-position: 200%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

@keyframes progressAnimation {
  0% {
    background-position: 200%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

#connectPageContainer {
  margin-top: 10vh;
  width: 100%;
  max-width: 45em;
}

#quickstartToggle {
  width: max-content;
}

/* mirrors p element spacing */
#viewLogButton {
  margin: 1em 0;
}

body.aboutTorConnect {
  justify-content: space-between;
  background:
    local
    url("chrome://global/content/torconnect/onion-pattern.svg")
    center bottom
    repeat-x;
  /* Always reserve 150px for the background, plus 15px padding with content. */
  padding-block-end: 175px;
}

body.aboutTorConnect .title {
  background-image: url("chrome://global/content/torconnect/tor-connect.svg");
  -moz-context-properties: stroke, fill, fill-opacity;
  fill-opacity: var(--onion-opacity);
  fill: var(--onion-color);
  stroke: var(--onion-color);
  /* Make sure there is no padding between the title and #breadcrumbs. */
  padding-block-start: 0;
}

.title.offline {
  background-image: url("chrome://global/content/torconnect/connection-failure.svg");
}

.title.assist, .title.final {
  background-image: url("chrome://global/content/torconnect/tor-connect-broken.svg");
}

.title.location {
  background-image: url("chrome://global/content/torconnect/connection-location.svg");
  stroke: var(--warning-color);
}

:root {
  --android-dark-accents-buttons: #9059FF;
  --android-dark-background-secondary: #E1E0E7;
  --android-dark-text-primary: #FBFBFE;
  --android-light-text-primary: #15141A;
}

[hidden=true] {
  display: none !important;
}

body.android {
  --onion-color: var(--android-dark-text-primary);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0 24px !important;
  color: var(--onion-color);
  background: linear-gradient(194deg, #692E9D -0.93%, #393270 48.91%);
  font: menu;
  font-size: 14px;
  display: flex;
}

.android #connectPageContainer {
  max-width: none;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.android #breadcrumbs {
  display: none;
}

.android #text-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.android .title {
  background-position: left 0;
  background-repeat: no-repeat;
  background-size: 40px;
  padding-top: 64px;
  font-size: 22px;
  line-height: 28px;
}

.android h1 {
  font-weight: normal;
  font-size: 100%;
  margin: 0 0 16px 0;
}

.android p {
  margin: 0;
  padding-bottom: 8px;
  line-height: 20px;
}

.android #quickstartContainer {
  margin-top: 24px;
}

.android .button-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.android #locationDropdown {
  width: 100%;
  max-width: none;
  margin: 0;
}

.android select {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--android-dark-text-primary);
  color: var(--android-dark-text-primary);
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 8px;
}

.android #buttonPadding {
  flex: 1;
}

body:not(.android) #connectButtonContainer {
  /* Use the .button-container context */
  display: contents;
}

.android #connectButtonContainer {
  width: 100%;
  padding-bottom: 18px;
  display: grid;
}

/* Be sure not to match the togglee */
.android #connectButtonContainer button {
  display: block;
  width: 100%;
  margin: 4px 0;
  padding: 11px 30px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
}

.android #connectButton, .android #tryBridgeButton, .android #configureButton.primary {
  color: var(--android-dark-text-primary);
  background-color: var(--android-dark-accents-buttons);
}

.android #configureButton {
  order: 1;
}

.android #restartButton {
  order: 2;
}

.android #restartButton, .android #cancelButton, .android #configureButton {
  color: var(--android-light-text-primary);
  background-color: var(--android-dark-background-secondary);
}

.android .onion-pattern-container {
  display: none;
}
